<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/file/css/bootstrap.css">
    <script src="../static/file/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/file/css1/more.css">
    <link rel="icon" href="../static/img/alex_logo.ico" type="image/icon type">
   
   
    
    <title>Gateway Travel Agency </title>
</head>
<body>
  {%include 'navbar.html'%}
  

    <section class="container-fluid">
        
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../static/img/moroco.webp" class="d-block w-100" alt="..."  height="500px" width="100%">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../static/img/DUBAI_CITY.jpg" class="d-block w-100" alt="..." height="500px" width="100%">
                      </div>
                      <div class="carousel-item">
                        <img src="../static/img/south-africa.webp" class="d-block w-100" alt="..." height="500px" width="100%">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div><br><br>
                  <!-- heading section -->
                <section>
                  <div>
                    <h2 class="head">Popular <span class="text-warning">Destinations</span> </h2><br><br>
                    <p class="p text-center">Explore the stunning landscapes and diverse wildlife of Kenya, from national reserve safaris to traditional Swahili culture. Immerse yourself in the unique experiences this destination has to offer.</p><br><br> <hr>
                  </div>
                </section>
              </div>
    </section>

    <div class="row">
      <div class="col-md-6">
        <div class="card diani">
          <div class="card-body">
            <p class="king">  <span class="ak"> <a href="/diani">Diani/Ukunda(50)packages</a></span></p>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="card malindi">
          <div class="card-body">
            <p class="king"> <span class="ak"><a href="/malindi">Malindi/watamu(12)packages</a></span></p>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="card mombasa">
          <div class="card-body">
            <p class="king"> <span class="ak"><a href="/mombasa">Mombasa(71)packages</a></span></p>
          </div>
        </div>

      </div>
    </div>
    <br><br>

    br><br>

    <h1 class="head">Recommended <span class="text-warning">Themed Packages</span> </h1>
    <p class="p">Recommended Themed Packages</p><hr><br>

    <section class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../static/img/Diani.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">3 Days / 2 Nights</h5>
                <p class="card-text">ADVENTURE TOURISM PACKAGE.</p>
                <p class="card-text"><small class="text-body-secondary">From :Ksh 21,000.00</small></p>
                <span class="btn bg-warning"><a href="/diani" class="a">MORE INFO</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- row 1 card 2 -->
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../static/img/Baobab_Beach.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">3 Days / 2 Nights</h5>
                <p class="card-text">2024 DEALS.</p>
                <p class="card-text"><small class="text-body-secondary">From :Ksh 29,100.00</small></p>
                <span class="btn bg-warning"><a href="/diani" class="a">MORE INFO</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of card 2 -->

      <!-- start of row 2 card one -->
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../static/img/Baobab_Beach.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">3 Days / 2 Nights</h5>
                <p class="card-text">BABYMOON GETAWAY.</p>
                <p class="card-text"><small class="text-body-secondary">From :Ksh 29,100.00</small></p>
                <span class="btn bg-warning"><a href="/diani" class="a">MORE INFO</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end of row 3 card one -->

      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../static/img/Baobab_Beach.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">3 Days / 2 Nights</h5>
                <p class="card-text">ADVENTURE TOURISM PACKAGE.</p>
                <p class="card-text"><small class="text-body-secondary">From :Ksh 21,000.00</small></p>
                <span class="btn bg-warning"><a href="/diani" class="a">MORE INFO</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end of row 3 card one -->

       <!-- end of row 3 card 2 -->

       <div class="col-md-6">
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../static/img/Diani.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">3 Days / 2 Nights</h5>
                <p class="card-text">BIRTHDAY PACKAGES.</p>
                <p class="card-text"><small class="text-body-secondary">From :Ksh 37,300.00</small></p>
                <span class="btn bg-warning"><a href="/diani" class="a">MORE INFO</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end of row 3 card 2 -->

       <!-- end of row 4 card one -->

       <div class="col-md-6">
        <div class="card mb-3" style="max-width: 840px;">
          <div class="row g-0">
            <div class="col-md-4">
              <a href=""><img src="../static/img/Afrochic_Diani.jpg" class="img-fluid rounded-start" alt="..."></a>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">3 Days / 2 Nights</h5>
                <p class="card-text">HONEYMOON TOURISM PACKAGE.</p>
                <p class="card-text"><small class="text-body-secondary">From :Ksh 51,000.00</small></p>
                <span class="btn bg-warning"><a href="/diani" class="a">MORE INFO</a></span>
              </div>
            </div>
          </div>
        </div>
      </div><hr>  <br> <br>

      <!-- end of row 4 card one -->
    </section>

    <section class="para">
      <h1 class="head">Special offers <span class="text-warning">& Discount!</span> </h1>
      <p class="p">Bonfire Adventures Is an award-winning team that offers round the clock support during your trip and 100% financial protection so you know you are in safe hands. With us you can dream, book and travel carefree.</p>


      <div class="row">
        <div class="col-md-3">
          <div class="card milli">
            <div class="card-body">
              <p class="king">Luxury Island Honeymoon</p>
              <p class="king">Category: School Holiday Deals <br>
                Rating:</p>
            </div>
          </div>
  
        </div>


        <div class="col-md-3">
          <div class="card safari">
            <div class="card-body">
              <p class="king">Safari For Your Birthday</p>
              <p class="king">Category: School Holiday Deals <br>
                Rating:</p>
            </div>
          </div>
  
        </div>
  
        <div class="col-md-3">
          <div class="card snok">
            <div class="card-body">
              <p class="king">Snorkeling</p>
              <p class="king">Category: School Holiday Deals <br>
                Rating:</p>
            </div>
          </div>
  
        </div>
  
        <div class="col-md-3">
          <div class="card team">
            <div class="card-body">
              <p class="king">Team Bulding</p>
              <p class="king">Category: Corporate And Conference <br>
                Rating: </p>
            </div>
          </div>
  
        </div>
      </div>
  

      

    </section>



</body>
</html>