<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/file/css1/style.css">
    <title>Gateway Travel Agency </title>
</head>
<body>
    <footer class="footer">
        <div class="footer-wrapper">
            <h5>Travelly <a href="#">Elvis odhiambo&copy;</a></h5>
            <ul>
            <li><a href="#"><img src="../static/file/icons/instagram.svg" alt=""></a></li>
            <li><a href="#"><img src="../static/file/icons/twitter.svg" alt=""></a></li>
            <li><a href="#"><img src="../static/file/icons/youtube.svg" alt=""></a></li>
        </ul>
        </div>
    </footer><!--End of footer section-->
    
</body>
</html>


<section class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4>About Us</h4>
                    <p>At Weekend Getaways, our mission is to provide unforgettable travel experiences that rejuvenate and inspire. We believe in curating unique itineraries tailored to our clients' desires, ensuring every journey is filled with adventure, relaxation, and discovery.</p>
            
                </div>

            </div>
            
        </div>
    </div>
</section>