<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/file/css/bootstrap.css">
    <link rel="icon" href="../static/img/alex_logo.ico" type="image/icon type">
    
    
    <link rel="stylesheet" href="../static/file/css1/search.css">
    <style>
      body{
        background-color: #2C73D2;
      }
      
      .head{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 45px;
        font-weight: bold;
      }
      .p{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        }

      
      .left{
        margin-left: 600px;
      }
      .btn{
        background-color: rgb(241, 171, 39);
       
        
      }
      .a{
        text-decoration: none;
        
        
      }


    </style>
    
    <title>Gateway Travel Agency </title>
</head>
<body>
    {%include'navbar.html'%}
    
    
    <section class="container-fluid">
        
      
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      
      
          <br>

          <div>
            <h2 class="head">WELCOME TO MALINDI</h2>
          </div>
          <div>
            <p class="p text-center">A dose of the sea always feels good! If You're Looking For Relaxation, Beach Therapy Is The Perfect Solution! How about escaping to the sun-drenched beaches of the Kenyan coast. Spend 3 days on this tropical destination, where all that's on your itinerary is to sip a cocktail and gaze into the turquoise waters ahead. Sounds pretty blissful. If you're seeking a slice of paradise, we've have secured excellent rates to the best spots in Mombasa that you can put on your bucket list!</p>
          </div>
          <br>
          <div>
            <button class=" btn "> <a href="#" class="a">compare prices</a></button>
            
            
          </div>
          <br>
          <div>
            <section class="row">
              <div class="col-md-6">
                <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/img//Mombasa_North.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title">3 Days / 2 Nights</h5>
                        <p class="card-text">FAMILY TOURISM PACKAGE.</p>
                        <p class="card-text"><small class="text-body-secondary">From :Ksh 14,500.00</small></p>
                        <span class="btn bg-warning"><a href="/booking" class="a">BOOK NOW</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row 1 card 2 -->
              <div class="col-md-6">
                <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/img/Mombasa_North.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title">3 Days / 2 Nights</h5>
                        <p class="card-text">ADVENTURE TOURISM PACKAGES.</p>
                        <p class="card-text"><small class="text-body-secondary">From :Ksh 14,500.00</small></p>
                        <span class="btn bg-warning"><a href="/booking" class="a">BOOK NOW</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of  row 1card 2 -->

              <!-- start of row 2 card one -->
              <div class="col-md-6">
                <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/img/Bamburi_Beach.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title">3 Days / 2 Nights</h5>
                        <p class="card-text">BIRTHDAY PACKAGES.</p>
                        <p class="card-text"><small class="text-body-secondary">:Ksh 24,999.00</small></p>
                        <span class="btn bg-warning"><a href="/booking" class="a">BOOK NOW</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- end of row 2 card one -->

               <!-- start of row 2 card  2 -->

              <div class="col-md-6">
                <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/img/Bamburi_Beach.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title">3 Days / 2 Nights</h5>
                        <p class="card-text">2024 DEALS.</p>
                        <p class="card-text"><small class="text-body-secondary">From :Ksh 24,999.00</small></p>
                        <span class="btn bg-warning"><a href="/booking" class="a">BOOK NOW</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>

              <!-- end of row 2 card 2 -->

               <!-- end of row 3 card 1 -->

               <div class="col-md-6">
                <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/img/Serena_Beach.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title">3 Days / 2 Nights</h5>
                        <p class="card-text">HONEYMOON TOURISM PACKAGES.</p>
                        <p class="card-text"><small class="text-body-secondary">From :Ksh 30,200.00</small></p>
                        <span class="btn bg-warning"><a href="/booking" class="a">BOOK NOW</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- end of row 3 card 1 -->

               <!-- end of row 3 card one -->

               <div class="col-md-6">
                <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/img/mombasa-kenya-t.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title">7 Days / 6 Nights</h5>
                        <p class="card-text">Mombassa.</p>
                        <p class="card-text"><small class="text-body-secondary">From :Ksh 32,000.00</small></p>
                        <span class="btn bg-warning"><a href="/booking" class="a">BOOK NOW</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- end of row 3 card one -->


               <!-- end of row 4 card 1 -->

               <div class="col-md-6">
                <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/img/Starehe_Beach.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title"> 2 Days / 1 Nights</h5>
                        <p class="card-text">WELLNESS TOURISM PACKAGE.</p>
                        <p class="card-text"><small class="text-body-secondary">From :Ksh 80,000.00</small></p>
                        <span class="btn bg-warning"><a href="/booking" class="a">BOOK NOW</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- end of row 4 card 1 -->

               <!-- start of row  card 1 -->

               <div class="col-md-6">
                <div class="card mb-3" style="max-width: 840px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/img/Christmas.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title">5 Days / 4 Nights</h5>
                        <p class="card-text">CHRISTMAS PACKAGE.</p>
                        <p class="card-text"><small class="text-body-secondary">From :Ksh 83,700.00</small></p>
                        <span class="btn bg-warning"><a href="/booking" class="a">BOOK NOW</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- end of row 4 card 1 -->

             
            </section>
          </div>

    </section>
    

    

   
    
    
</body>
</html>